{
  "parser":  "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends":  [
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/base",
    "plugin:vue/vue3-recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false
      }
    ],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 3
      }
    ],
    "vue/html-self-closing": ["error", {
      "html": {
        "void": "always"
      }
      }
    ],
    "vue/singleline-html-element-content-newline": ["off"]
  }
}