* {
  box-sizing: border-box;
}
html,

body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  color: #333;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow: hidden;
}
